.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
addressbook -web-tests/.DS_Store
addressbook -web-tests/test-output/failed.png
addressbook -web-tests/test-output/index.html
addressbook -web-tests/build/classes/java/main/HelloWorld.class
*.MF
*.png
*.xml
*.html
*.iml
addressbook -web-tests/src/test/java/usa/stqa/pft/addressbook/.DS_Store
*.css
*.js
*.properties
*.gif
